/* hero.css */

.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  background-image: url('../../../images/heroBg.png');
  background-size: cover;
  /* padding: 0 100px 0; */
  /* padding-left: 100px; */
  gap: 20px;
}

.hero-content {
  max-width: 100%;
  padding: 20px;
}

.hero-text {
  margin: 0 auto;
}

.hero-title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.hero-subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #fff;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-images {
  width: 100%;
}

.hero-image2 {
  width: 100%;
  height: auto;
}

/* Mobile Responsive Styling */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-left: 100px;
  }

  .hero-content {
    max-width: 50%;
  }

  .hero-text {
    text-align: left;
  }

  .hero-title {
    font-size: 3rem;
    line-height: 3.5rem;
    color: #fff;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    color: #fff;
  }

  .hero-cta {
    flex-direction: row;
    gap: 20px;
  }

  .hero-images {
    max-width: 50%;
  }

  .hero-image2 {
    width: 100%;
    height: auto;
  }
}
