.service-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 32px;
    width: calc(50% - 12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }
  .service-icon {
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   margin-bottom: 1rem;

  }

  .service-title {
    font-size: 24px;
    color: var(--orbit-color-style-slate-neutral-slate-neutral-600);
    margin-bottom: 16px;
  }
  .service-description {
    font-size: 20px;
    color: var(--orbit-color-style-slate-neutral-slate-neutral-600);
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    padding: 80px 0;
    max-width: 1200px;
    margin: 0 auto;
  }